# Node.js
node_modules/
dist/
build/
.npm/

# React environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Java / Spring Boot
target/
*.class

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment / secrets
.env